/* 초록색 버튼들, 이화그린으로 색상 변경 */
.btn.btn-primary {
  background: #00462a;
}

/* 필터 버튼 & 정렬 드롭다운*/
.filter-and-sort {
  display: flex;
}
#filter-rate {
}
#filter_visitor {
}
#sort {
}

/* icomoon 아이콘 변경 */
.icon-bed:before {
  content: "\f0aa";
}
.icon-bath:before {
  content: "\e838";
}
